* {
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 30px;
    background-color: sandybrown;
}

.container {
    display: flex;
    flex-direction: column;
}

#bill {
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

#output {
    background-color: white;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

button {
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

input[type="radio"] {
    height: 30px;
    width: 30px;
}